@model MPLIS.Libraries.Data.XuLyHoSo.Models.DSGCNBDVM

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Danh sách GCN đầu ra</h3>
        <button class="btn-xs btn-heading pull-right" type="button" onclick="ThemMoiGCN_Ra()">Thêm mới GCN</button>
    </div>
    <div class="box-body">
        <table id="table_DSGCNRAID" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Số phát hành</th>
                    <th>Mã vạch</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DSGcn != null && Model.DSGcn.Count() > 0)
                {
                    int rowdsGCNRaID = 0;
                    foreach (var item in Model.DSGcn)
                    {
                        if (item.LAGCNVAO == "N")
                        {
                            rowdsGCNRaID = rowdsGCNRaID + 1;
                            <tr data-id="@item.GIAYCHUNGNHANID">
                                <td class="text-right">
                                    @rowdsGCNRaID.
                                </td>
                                <td class="text-center">
                                    @item.SoPhatHanh
                                </td>
                                <td class="text-center">
                                    @item.MaVach
                                </td>
                                <td class="text-center">
                                    @item.TrangThai
                                </td>
                                <td class="text-center">
                                    @Ajax.ActionLink("Xóa", "Remove_DSGCNRA_R", "TTBienDong", new { id = item.BDGCNID },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        OnSuccess = "Load_TTRIENG_THECHAP_CTQUYEN()",
                                        UpdateTargetId = "divBienDongID_DSGCNRA",
                                        InsertionMode = InsertionMode.Replace,
                                        Confirm = "Xác nhận xóa?"
                                    }, new { @class = "btn btn-xs btn-heading", @title = "Xóa" })
                                    @Ajax.ActionLink("Chi tiết", "_GiayChungNhan", "XLHSGiayChungNhan", new { id = item.GIAYCHUNGNHANID, loaiGCN = 1 },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        //OnSuccess = "RemoveRow",
                                        UpdateTargetId = "bhs-tabID",
                                        InsertionMode = InsertionMode.Replace
                                    }, new { @class = "btn btn-xs btn-heading", @title = "Chi tiết thông tin GCN" })
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function ThemMoiGCN_Ra() {
        $.ajax({
            type: "GET",
            url: "/TTBienDong/ThemMoiGiayChungNhanRa",
            success: function (html) {
                //console.log(html);
                $('#divBienDongID_DSGCN').html(html);
            },
        });
    };
    $(document).ready(function () {
        InitDataTableXLHS($('#table_DSGCNRAID'))
    });
</script>