@model MPLIS.Libraries.Data.XuLyHoSo.Models.DSThuaDonVM

@using (Ajax.BeginForm("Add_DSTHUAXL_RTABLE", "TTBienDong", new AjaxOptions
{
    OnSuccess = "alert('Thêm thửa xử lý thành công')",
    HttpMethod = "Post",
    UpdateTargetId = "divBienDongID_DSTHUA",
    InsertionMode = InsertionMode.Replace
}))
{
    <table class="bordered" id="popuptable_DSTHUAXLID" data-toggle="table">
        <thead>
            <tr>
                <th class="t50">STT</th>
                <th class="t150">Xã/phường</th>
                <th class="t100">SH tờ bản đồ</th>
                <th class="t100">STT thửa</th>
                <th class="t100">DT pháp lý (m2)</th>
                <th>Địa chỉ</th>
                <th class="t100">Hành động</th>
            </tr>
        </thead>
        @{int rTHUAmoiXL = 0;
            if (Model.DSDangKyThua != null)
            {
                foreach (var item in Model.DSDangKyThua)
                {
                    rTHUAmoiXL = rTHUAmoiXL + 1;
                    <tr data-id="@item.THUADATID">
                        <td>
                            @rTHUAmoiXL
                        </td>
                        <td>
                            @item.XaPhuong
                        </td>
                        <td>
                            @item.SHToBanDo
                        </td>
                        <td>
                            @item.STTThua
                        </td>
                        <td>
                            @item.DienTich
                        </td>
                        <td>
                            @item.DiaChi
                        </td>
                        <td>
                            <input type="checkbox" name="DSTHUAXL_CHON" value="@item.THUADATID" />
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <div class="clear"></div>
    <div class="collbutton-xs-12">
        <input type="checkbox" id="checkall_DSTHUAXL_CHON" /><span>Check All</span>
        <input type="submit" value="Lưu" class="btn" />
    </div>
            }
<script type="text/javascript">
    function toggleCheckeddsTHUAXL(statusDSTHUAXL_CHON) {
        $("#popuptable_DSTHUAXLID input").each(function () {
            $(this).prop("checked", statusDSTHUAXL_CHON);
        });
    }
    $(document).ready(function () {
        $("#checkall_DSTHUAXL_CHON").prop("checked", false);
        $("#checkall_DSTHUAXL_CHON").click(function () {
            var statusDSTHUAXL_CHON = $("#checkall_DSTHUAXL_CHON").prop("checked");
            toggleCheckeddsTHUAXL(statusDSTHUAXL_CHON);
        });
    });
</script>