@model MPLIS.Libraries.Data.XuLyHoSo.Models.GiayChungNhanLS

<div class="box">
    <div class="box-body">
        <table id="TableTVNNID" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Tên thành viên</th>
                    <th>Loại chủ</th>
                    <th>Số giấy tờ</th>
                    <th>Vai trò</th>
                    <th>TLSH</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DSTyLeSoHuu != null && Model.DSTyLeSoHuu.Count > 0)
                {
                    int sTT = 0;
                    foreach (var item in Model.DSTyLeSoHuu)
                    {
                        sTT++;
                        <tr>
                            <td>@item.THANHVIENID</td>
                            <td>@sTT.</td>
                            <td>@item.HOTEN</td>
                            <td>@item.TENLOAICHU</td>
                            <td>@item.SOGIAYTO</td>
                            <td>
                                @if (item.ISNGUOIDAIDIEN == 1)
                                {
                                    @Html.Raw("Đại diện")
                                }
                                else
                                {
                                    @Html.Raw("Thành viên")
                                }
                            </td>
                            <td>@item.TILESOHUU%</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button id="btnSumit_TableTVNNID" type="button" class="btn btn-default btn-sm" disabled><i class='fa fa-check'></i> Lưu thông tin</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var columns = [
            { "data": "THANHVIENID" },
            { "data": "STT" },
            { "data": "HOTEN" },
            { "data": "TENLOAICHU" },
            { "data": "SOGIAYTO" },
            { "data": "TenVaiTro" },
            { "data": "TLSH" }
        ]
        var columnDefs = [
            {
                "targets": 0,
                "visible": false
            },
            {
                "targets": -1,
                "className": "text-center TLSH"
            },
            {
                "targets": [1],
                "className": "text-right"
            },
            {
                "targets": [3, 4, 5],
                "className": "text-center"
            }
        ]

        var options = {
            "pageLength": 5,
            "ordering": false,
            "autoWidth": false,
            "columns": columns,
            "columnDefs": columnDefs,
            "dom": "t<'row p-0'<'col-xs-6 p-0'<'row p-0'<'col-xs-6 p-0'<'#divBTAddQuyenQLDat'>>>><'col-xs-6 p-0'<'pull-right'p>>>",
            //"dom": "t<'row p-0' <'col-xs-12 p-0' <'pull-right'p> > >",
            "initComplete": function () {
                initComplete();
            }
        }

        function initComplete() {
            
        }

        var TableTVNNID = $('#TableTVNNID').DataTable(options);

        if ('@Model.ChinhSua' == 'True') {
            TableTVNNID.rows().nodes().on('dblclick', 'tbody tr', function () {
                if (TableTVNNID.data().count() > 0) {
                    var curRow = TableTVNNID.row($(this));
                    $.ajax({
                        type: "POST",
                        url: "/XLHSGiayChungNhan/Popup_SetTLSH",
                        data: { thanhVienID: curRow.data().THANHVIENID },
                        dataType: "html",
                        success: function (html) {
                            $('#divPopup')
                                .html(html)
                                .ready(function () {
                                    var options = {
                                        "backdrop": "static",
                                        "show": true
                                    }
                                    $("#modalSetGCNTLSHID").modal(options);
                                });
                        }
                    })
                }
            })
        }

    })

</script>
