@using AppCore.Models
@model AppCore.Models.DangKyTaiSan
@{using (Html.BeginForm("_DonDangKy_TSNHARIENGLE", "XLHSDangKy", FormMethod.Post, new { @id = "ThemMoiCanHo" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CurCanHo.CANHOID, new { @class = "form-control" })
        @Html.HiddenFor(m => m.CurCanHo.uId, new { @class = "form-control" })

        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurNhaChungCu.KHUCHUNGCUID,"Khu chung cư", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-7">
                    @Html.DropDownListFor(m => m.CurNhaChungCu.KHUCHUNGCUID, new SelectList(ViewBag.listkhuchungcu, "KHUCHUNGCUID", "TENKHU"), "---- Lựa chọn ----", new { @class = "form-control input-sm", @id = "drpkhuchungcu" })
                </div>
                <div class="col-xs-2">
                    <input type="button" id="btnthemkhuchungcu" value="Thêm mới" />
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.NHACHUNGCUID,"Nhà chung cư", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-7">
                    @Html.DropDownListFor(m => m.CurCanHo.NHACHUNGCUID, new SelectList(ViewBag.listnhachungcu, "NHACHUNGCUID", "TENCHUNGCU"), "---- Lựa chọn ----", new { @class = "form-control input-sm", @id = "drpnhachungcu" })
                </div>
                <div class="col-xs-2">
                    <input type="button" id="btnthemnhachungcuch" value="Thêm mới" />
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.SOHIEUCANHO, "Số hiệu căn hộ", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.SOHIEUCANHO, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.DIENTICHSAN,"Diện tích sàn", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.DIENTICHSAN, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.HINHTHUCSOHUU,"Hình thức sở hữu", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.HINHTHUCSOHUU, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.TANGSO,"Tầng số", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.TANGSO, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.THOIHANSOHUU,"Thời hạn sở hữu", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.THOIHANSOHUU, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurCanHo.TINHTRANGDANGKY,"Tình trạng đăng ký", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.DropDownListFor(m => m.CurCanHo.TINHTRANGDANGKY, new SelectList(ViewBag.lsttinhtrangdk, "MALOAITRANGTHAIDANGKYCAPGCN", "TENLOAITRANGTHAIDANGKYCAPGCN"), new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.NGUONGOC, "Nguồn gốc", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.NGUONGOC, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.NAMHOANCONG, "Năm hoàn công", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurCanHo.NAMHOANCONG, new { @class = "form-control input-sm" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DTSH_RIENG, "Diện tích sở hữu riêng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3"style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DTSH_RIENG, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DTSH_CHUNG_CDT, "Diện tích sở hữu chung chủ đầu tư", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3" style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DTSH_CHUNG_CDT, new { @class = "form-control input-sm" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DT_PT_KHONGRIENGLE, "Diện tích phát triển không riêng lẻ", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3"style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DT_PT_KHONGRIENGLE, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DTSH_CHUNG_NSDD, "Diện tích sở hữu chung người sử dụng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3" style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DTSH_CHUNG_NSDD, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DT_PT_RIENGLE, "diện tích phát triển riêng lẻ", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3"style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DT_PT_RIENGLE, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo.DT_HT_NVTC, "Diện tích hoàn thành nghĩa vụ tài chính", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3"style="padding-top: 11px;">
                    @Html.TextBoxFor(m => m.CurCanHo.DT_HT_NVTC, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurCanHo._CO_HSXN_NHADUYNHAT, "Có hồ sơ xác nhận nhà duy nhất", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3"style="padding-top: 13px;">
                    @Html.CheckBoxFor(m => m.CurCanHo._CO_HSXN_NHADUYNHAT)
                </div>
            </div>
        </div>

        <div class="clear"></div>
    }
}
<script>
    $(function () {
        $('#drpnhachungcu').change(function () {
            if ($('#drpnhachungcu').val() != null) {
                document.getElementById("btnthemnhachungcuch").value = ""+"  Sửa  "+"";
            }
            else {
                document.getElementById("btnthemnhachungcuch").value = "Thêm mới";
            }
        });
        $('#drpkhuchungcu').change(function () {
            if ($('#drpkhuchungcu').val() != null) {
                document.getElementById("btnthemkhuchungcu").value =""+ "  Sửa  "+"";
            }
            else {
                document.getElementById("btnthemkhuchungcu").value = "Thêm mới";
            }
        });
        $("#btnthemkhuchungcu").on("click", function () {
            var drpkhuchungcu = document.getElementById('drpkhuchungcu');
            if ($('#drpkhuchungcu').val() != "") {
                var r = drpkhuchungcu.options[drpkhuchungcu.selectedIndex].innerHTML;
                console.log('text' + r);
                var t = $('#drpkhuchungcu').val();
                console.log('id' + t);
            }
            else {
                var r = "";
                var t = "";
            }
            console.log("click button");
            $.ajax({
                type: "GET",
                url: "/XLHSDangKy/_DonDangKy_KhuChungCu",
                data: { id: $('#drpkhuchungcu').val().trim()},
                success: function (html) {

                    $('#dialogformKHUCHUNGCU').html(html);
                    var options = {
                        "backdrop": "static",
                        "show": true
                    }
                    $("#modalformKhuChungCu").modal(options);
                    
                    if (t != null || t != "") {
                        console.log(document.getElementById("title_popup_kcc").innerHTML);
                        document.getElementById("title_popup_kcc").innerHTML ="Khu chung cư "+ r.trim();
                        document.getElementById("CurKCCID").value = t.trim();
                        console.log("CurKCCID: " + document.getElementById("CurKCCID").value);
                    }
                }
            });
        });
        $("#btnthemnhachungcuch").on("click", function () {
            var drpnhachungcu = document.getElementById('drpnhachungcu');
            if ($('#drpnhachungcu').val() != "") {
                var r = drpnhachungcu.options[drpnhachungcu.selectedIndex].innerHTML;
                console.log('text' + r);
                var t = $('#drpkhuchungcu').val();
                console.log('id' + t);
            }
            else {
                var r = "";
                var t = "";
            }
         var  a= $('#drpnhachungcu').val();
            console.log("dropnha chung cu"+a);
            console.log("click button");
            $.ajax({
                type: "GET",
                url: "/XLHSDangKy/_Popup_NhaChungCu",
                data: { a: $('#drpnhachungcu').val().trim() },
                success: function (response, startus, xhr) {
                    $('#dialogformNHACHUNGCU').html(response);
                    var options = {
                        "backdrop": "static",
                        "show": true
                    }
                    $("#modalformNhaChungCu").modal(options);
                    if (t != null || t != "") {
                        console.log(document.getElementById("title_popup_ncc").innerHTML);
                        document.getElementById("title_popup_ncc").innerHTML = "Nhà chung cư " + r.trim();
                    }
                    if ($('#drpkhuchungcunccCH').val() != null && $('#drpkhuchungcunccCH').val() != "") {
                        document.getElementById("btnthemkhuchungcunccCH").value = "" + "  Sửa  " + "";
                    }
                    else {
                        document.getElementById("btnthemkhuchungcunccCH").value = "Thêm mới";
                    }
                    
                }
            });
        });

    });
</script>