
@using AppCore.Models
@model AppCore.Models.DangKyTaiSan
@{using (Html.BeginForm("_DonDangKy_TSNHARIENGLE", "XLHSDangKy", FormMethod.Post, new { @id = "ThemMoiHangMucCongTrinh" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CurHangMucCongTrinh.HANGMUCCONGTRINHID, new { @class = "form-control" })
        @Html.HiddenFor(m => m.CurHangMucCongTrinh.uId, new { @class = "form-control" })

        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurHangMucCongTrinh.CONGTRINHXAYDUNGID, "Tên công trình", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.DropDownListFor(m => m.CurHangMucCongTrinh.CONGTRINHXAYDUNGID, new SelectList(ViewBag.listcongtrinhxaydung, "CONGTRINHXAYDUNGID", "TENCONGTRINH"), "---- Lựa chọn ----", new { @class = "form-control input-sm", @id = "drpcongtrinhxaydung" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.tenxats, "Tên xã/phường", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.tenxats, new { @class = "form-control input-sm", @readonly = "true" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurHangMucCongTrinh.TENHANGMUC, "Tên hạng mục", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.TENHANGMUC, new { @class = "form-control input-sm" })
                </div>
            </div>

            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.DIENTICHSAN,"Diện tích sàn", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.DIENTICHSAN, new { @class = "form-control input-sm" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.DIENTICHXAYDUNG,"Diện tích xây dựng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.DIENTICHXAYDUNG, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.KETCAU,"Kết cấu", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.KETCAU, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.NAMXAYDUNG,"Năm xây dựng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.NAMXAYDUNG, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.NAMHOANTHANH,"Năm hoàn thành", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.NAMHOANTHANH, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.SOTANG,"Số tầng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.SOTANG, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.SOTANGHAM,"Số tầng hầm", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.SOTANGHAM, new { @class = "form-control input-sm" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.THOIHANSOHUU,"Thời hạn sở hữu", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.THOIHANSOHUU, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model=>Model.CurHangMucCongTrinh.CAPHANG,"Cấp hạng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.CAPHANG, new { @class = "form-control input-sm" })
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurHangMucCongTrinh.CONGNANG, "Công năng", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CurHangMucCongTrinh.CONGNANG, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.mota, "Mô tả", new { @class = "pull-right control-label" })
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.mota, new { @class = "form-control input-sm " })
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-3">
                    @Html.LabelFor(Model => Model.CurHangMucCongTrinh.DIACHIID, "Địa chỉ", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-9">
                    @Html.TextAreaFor(m => m.CurHangMucCongTrinh.DIACHIID, new { @class = "form-control input-sm",@row="2" })
                </div>
            </div>
        </div>
        <div class="clear"></div>
    }
}
<script>

</script>