@model MPLIS.Libraries.Data.XuLyHoSo.Models.DSHoGiaDinhVM

<div class='modal fade' id='modalKQTKHoGiaDinhID'>
    @Html.Hidden("Count", Model.DSHoGiaDinh.Count, new { @id = "CountHoGiaDinhID" })
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal'>&times;</button>
                <h4 class='modal-title'>Kết quả tìm kiếm hộ gia đình</h4>
            </div>
            <div class='modal-body'>
                <table id="TableDSHoGiaDinhID" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>Chủ hộ</th>
                            <th>CMT chủ hộ</th>
                            <th>Vợ / Chồng</th>
                            <th>CMT vợ / chồng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DSHoGiaDinh != null && Model.DSHoGiaDinh.Count > 0)
                        {
                            int sTT = 0;
                            foreach (var item in Model.DSHoGiaDinh)
                            {
                                sTT++;
                                <tr>
                                    <td>
                                        @item.HOGIADINHID
                                    </td>
                                    <td class="text-right">
                                        @sTT.
                                    </td>
                                    <td>
                                        @item.ChuHoCN.HOTEN
                                    </td>
                                    <td class="text-center">
                                        @item.ChuHoCN.SOGIAYTO
                                    </td>
                                    <td>
                                        @item.VoChongCN.HOTEN
                                    </td>
                                    <td>
                                        @item.VoChongCN.SOGIAYTO
                                    </td>
                                    <td class="text-center"></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var columns = [
            { "data": "HOGIADINHID" },
            { "data": "STT" },
            { "data": "CHUHOHOTEN" },
            { "data": "CHUHOSOGIAYTO" },
            { "data": "VOCHONGHOTEN" },
            { "data": "VOCHONGSOGIAYTO" },
            { "data": null }
        ]
        var columnDefs = [
            {
                "targets": 0,
                "visible": false
            },
            {
                "targets": -1,
                "render": function () {
                    return "<button type='button' class='btn btn-xs btn-heading btnSel'>Chọn</button>";
                }
            }
        ]
        var options = {
            "pageLength": 5,
            "lengthChange": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "autoWidth": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
            },
            "columns": columns,
            "columnDefs": columnDefs,
            "dom": 't<"bottom"p><"clear">'
        }
        var TableDSHoGiaDinhID = $('#TableDSHoGiaDinhID').DataTable(options);

        TableDSHoGiaDinhID.rows().nodes().on('click', 'tbody tr', function () {
            if (TableDSHoGiaDinhID.rows().nodes().length > 0) {
                ChonHoGiaDinh(TableDSHoGiaDinhID.row($(this)).data());
                //if ($(TableDSCaNhanID.row(this).node()).attr('class').indexOf('activerow') != -1) {
                //    $(TableDSCaNhanID.row(this).node()).removeClass('activerow');
                //} else {
                //    $(TableDSCaNhanID.rows().nodes()).removeClass('activerow');
                //    $(TableDSCaNhanID.row(this).node()).addClass('activerow');
                //}
            }
        })

        TableDSHoGiaDinhID.rows().nodes().on('click', 'tbody tr button', function (event) {
            event.stopPropagation();
        })

        TableDSHoGiaDinhID.rows().nodes().on('click', 'tbody tr .btnSel', function (event) {
            ChonHoGiaDinh(TableDSHoGiaDinhID.row($(this).parents('tr')).data());
        })

        function ChonHoGiaDinh(rowData) {
            console.log(rowData);
            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/DonDangKy_ChonHoGiaDinh",
                data: { hoGiaDinhID: rowData.HOGIADINHID },
                dataType: "html",
                success: function (result) {
                    $('#divCTChuHGDID')
                        .html(result)
                        .ready(function () {
                            $("#modalKQTKHoGiaDinhID").modal('hide');
                        })
                }
            })
        }

    })
</script>

