@using MPLIS.Libraries.Data.XuLyHoSo.Models
@using AppCore.Models
@model DC_THUADAT
<div class="row">
    <div class="col-xs-6 form-group">
        <fieldset>
            <legend>
                Danh sách giá đất của thửa
            </legend>
            <div id="divdsthuagiadat">
                <table id="table_GIADATTHUA" class="bordered">
                    <thead>
                        <tr>
                            <th class="t50" hidden="true">GIATHUADATID</th>
                            <th class="t50">STT</th>
                            <th class="t100">căn cứ PL</th>
                            <th class="t100">Thời điểm</th>
                            <th class="t100">giá đất</th>
                            <th class="t50">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int rdsgcntable = 0;
                            if (Model != null)
                            {
                                if (Model.DSGiaDat != null)
                                {
                                    foreach (var item in Model.DSGiaDat)
                                    {

                                        rdsgcntable = rdsgcntable + 1;
                                        <tr data-id="@item.GIATHUADATID">
                                            <td hidden="true">
                                                @item.GIATHUADATID
                                            </td>
                                            <td>
                                                @rdsgcntable
                                            </td>
                                            <td>
                                                @item.CANCUPHAPLY
                                            </td>
                                            <td>
                                               @if (@item.THOIDIEMXACDINH.Value != null)
                                               {
                                                @item.THOIDIEMXACDINH.Value.ToString("dd/MM/yyyy")
                                               }
                                               @*else
                                               {

                                               }*@

                                              
                                            </td>
                                            <td>
                                                @item.GIADAT
                                            </td>

                                            <td>

                                                <input type="button" value="Xóa" onclick="xoagiadat(this)" />
                                            </td>

                                        </tr>

                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    @{using (Html.BeginForm("_ThuaGiaDat", "XLHSDangKy", FormMethod.Post, new { @id = "ThemMoiGiaDatThua" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CurGiaDat.GIATHUADATID, new { @class = "form-control input-sm" })
            @*@Html.HiddenFor(m => m.DSMDSD, new { @class = "form-control input-sm" })*@
            @Html.HiddenFor(m => m.CurGiaDat.THUADATID, new { @class = "form-control input-sm" })
            <div class="col-xs-6 form-group">
                <fieldset>
                    <legend>
                        Chi tiết giá đất của thửa
                    </legend>
                    <div id="divchitietthuagiadat" class="row">
                        <div class="form-control-static">
                            <div class="col-xs-12">
                                <div class="collabel-xs-4">
                                    @Html.Label("Loại giá đất")
                                </div>
                                <div>
                                    @Html.DropDownListFor(m => m.CurGiaDat.LOAIGIADATID, new SelectList(ViewBag.loaigiadat, "LOAIGIADATID", "LOAIGIADAT"), new { @class = "collabel-xs-5 text", @id = "drploaigiadat" })

                                </div>
                            </div>
                        </div>
                        <div class="form-control-static">
                            <div class="col-xs-12">
                                <div class="collabel-xs-4">
                                    @Html.Label("Căn cứ pháp lý")
                                </div>
                                <div>
                                    @Html.TextBoxFor(m => m.CurGiaDat.CANCUPHAPLY, new { @class = "collabel-xs-5 text" })
                                </div>
                            </div>
                        </div>
                        <div class="form-control-static">
                            <div class="col-xs-12">
                                <div class="collabel-xs-4">
                                    @Html.Label("Thời điểm")
                                </div>
                                <div>
                                    @*<input type="date" class="collabel-xs-5 text" id="CurGiaDat_THOIDIEMXACDINH" name="CurGiaDat.THOIDIEMXACDINH" />*@
                                    @Html.TextBoxFor(m => m.CurGiaDat.THOIDIEMXACDINH, "{0:yyyy-MM-dd}", new { type = "date", @class = "collabel-xs-5 text" })
                                </div>
                            </div>
                        </div>
                        <div class="form-control-static">
                            <div class="col-xs-12">
                                <div class="collabel-xs-4">
                                    @Html.Label("Giá đất")
                                </div>
                                <div>
                                    @*<input type="text" class="collabel-xs-4 text" />*@
                                    @Html.TextBoxFor(m => m.CurGiaDat.GIADAT, new { @class = "collabel-xs-5 text" })
                                </div>
                            </div>
                        </div>
                        <div class="form-control-static">
                            <div class="col-xs-12">
                                <div class="collabel-xs-4">
                                    @Html.Label("Tên tệp tin")
                                </div>
                                <div>
                                    @Html.TextBoxFor(m => m.CurGiaDat.TENFILE, new { @class = "collabel-xs-5 text" })

                                </div>
                            </div>
                        </div>


                        <div class="form-control-static">
                            <div>
                                <div class="col-xs-2">
                                    <input type="button" id="btnthemmoigiadat" value="Cập nhật giá đất" />
                                </div>
                                <div class="col-xs-2">
                                    <input type="button" id="btnxoatranggiadat" value="làm mới" />
                                </div>

                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        }
    }
</div>
<script>
    function xoagiadat(oButton) {
        var ans = confirm("Bạn chắc chắn muốn xóa?");
        //=== If user pressed Ok then delete the record else do nothing.
        if (ans == true) {
            //alert('xóa thành công!');
            var empTab = document.getElementById('table_GIADATTHUA');
            var index = oButton.parentNode.parentNode.rowIndex;
            // alert(index);
            var nguoiid = empTab.rows[index].cells[0].innerHTML;
            empTab.deleteRow(oButton.parentNode.parentNode.rowIndex);
            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/XOA_GIADAT",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ giadatid: nguoiid }),
                success: function (data) {
                    if (data === "true") {
                        alert("Xóa giá đất gắn vào thửa thành công!");
                    }
                    else {
                        alert("Có lỗi xảy ra!");
                    }
                },
            });

        }

    }
    $(function () {

 
        $("#table_GIADATTHUA").on("click", "tr", function (e) {
       // $('#table_GIADATTHUA  tr').click(function (e) {
        //     alert('af');
            $(this).addClass('activerow').siblings().removeClass('activerow');

            //var empTab = document.getElementById('table_MDSDTHUA');
            //var index = this.parentNode.parentNode.rowIndex;
            // alert(index);
            var idmdsddat = $(this)[0].cells[0].innerHTML;
            //alert(idmdsddat);
            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/ChiTietGiaDat",
                data: { idgiadatthuadat: idmdsddat },
                dataType: "json",
                success: function (data) {
                     
                    $('#CurGiaDat_GIATHUADATID').val(data.GIATHUADATID);
                    $('#CurGiaDat_THUADATID').val(data.THUADATID);
                    $('#drploaigiadat').val(data.LOAIGIADATID);
                    $('#CurGiaDat_CANCUPHAPLY').val(data.CANCUPHAPLY);
                    //var value = new Date(parseInt(data.THOIDIEMXACDINH.substr(6)));
                    //var dat = value.getDate() +
                    //                      "/" +
                    //         value.getMonth() +
                    //                        1 +
                    //                      "/" +
                    //      value.getFullYear();
                    var NGAYCAP = printDate(data.THOIDIEMXACDINH);
                    // $("#eCaNhan_NGAYCAP").val(ConverDatatime(NGAYCAP));
                    // alert(ConverDatatime(NGAYCAP));
                   // $("#TuythanNGAYCAP").val(ConverDatatime(NGAYCAP));
                    // td.innerHTML = dat;
                   
                    $('#CurGiaDat_THOIDIEMXACDINH').val(ConverDatatime(NGAYCAP));
                //    alert(ConverDatatime(NGAYCAP));
                    $('#CurGiaDat_GIADAT').val(data.GIADAT);
                    $('#CurGiaDat_TENFILE').val(data.TENFILE);

                }
            });
        });
        $("#btnthemmoigiadat").on("click", function () {

            // validate kvhc, soto, sothua

            var id_giathuadat = $("#CurGiaDat_GIATHUADATID").val();
            var id_thua = $('#hi_ThuaId').val();//$("#CurGiaDat_THUADATID").val();
            var ten_loaigiadat = $("#drploaigiadat option:selected").text();
            var id_loaigiadat = $("#drploaigiadat").val();

            var cancuphaply = $("#CurGiaDat_CANCUPHAPLY").val();
            var thoidiem = $("#CurGiaDat_THOIDIEMXACDINH").val();
            var giadat = $("#CurGiaDat_GIADAT").val();
            var tenfile = $("#CurGiaDat_TENFILE").val();
            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/themgiadat",
                data: { _id_giathuadat: id_giathuadat, _id_thua: id_thua, _ten_loaigiadat: ten_loaigiadat, _id_loaigiadat: id_loaigiadat, _cancuphaply: cancuphaply, _thoidiem: thoidiem, _giadat: giadat, _tenfile: tenfile },
                //   data: formdata,
                dataType: "json",
                success: function (data) {

                    if (data.ketqua === "themmoi") {
                        alert(data.ketqua);
                        //  alert(data.id_mdsddat);
                        $('#CurGiaDat_GIATHUADATID').val(data.GIATHUADATID);
                        alert("Bạn đã thêm mới giá đất cho thửa đất thành công!");

                        var arrHeadthua = new Array();
                        arrHeadthua = ['STT', 'cancupl', 'thoidiem', 'giadat', 'hanhdong'];
                        //alert(obj);
                        //for (var ir = 0 ; ir <= jsondata.length - 1; ir++) {
                            var empTab = document.getElementById('table_GIADATTHUA');
                            var rowCnt = empTab.rows.length;        // GET TABLE ROW COUNT.

                            var tr = empTab.insertRow(rowCnt);      // TABLE ROW.
                            tr = empTab.insertRow(rowCnt);
                            //stt = $("#table_DSGCNVAOID td").closest("tr").length;
                            for (var c = 0; c <= arrHeadthua.length; c++) {
                                var td = document.createElement('td');          // TABLE DEFINITION.
                                td = tr.insertCell(c);

                                if (c == arrHeadthua.length) {           // FIRST COLUMN.
                                    // ADD A BUTTON.
                                    var button = document.createElement('input');

                                    // SET INPUT ATTRIBUTE.
                                    button.setAttribute('type', 'button');
                                    button.setAttribute('value', 'Xóa');

                                    // ADD THE BUTTON's 'onclick' EVENT.
                                    button.setAttribute('onclick', 'xoagiadat(this)');

                                    td.appendChild(button);
                                }

                                else if (c == 0) {
                                    td.innerHTML = data.GIATHUADATID;
                                    td.hidden = true;
                                }
                                else if (c == 1) {
                                    td.innerHTML = $("#table_GIADATTHUA td").closest("tr").length;
                                }
                                else if (c == 2) {
                                    td.innerHTML = data.CANCUPHAPLY;
                                }
                                else if (c == 3) {
                                    var ngay = printDate(data.THOIDIEMXACDINH);
                                    //var value = new Date(parseInt(data.THOIDIEMXACDINH.substr(6)));

                                    ////var value = new Date
                                    ////            (
                                    ////                 parseInt(date.replace(/(^.*\()|([+-].*$)/g, ''))
                                    ////            );
                                    //var dat = value.getDate() +
                                    //                       "/" +
                                    //          value.getMonth() +
                                    //                         1 +
                                    //                       "/" +
                                    //       value.getFullYear();
                               td.innerHTML = ConverDatatime(ngay);
                                }
                                else if (c == 4) {
                                    td.innerHTML = data.GIADAT;
                                }
                                else {

                                }
                            }
                       // }
                    }
                    else {

                        $('#CurGiaDat_GIATHUADATID').val(data.GIATHUADATID);
                        $('#table_GIADATTHUA tr').each(function (i, row) {
                            id = $("#table_GIADATTHUA").children().children().eq(i).children().eq(0).text();
                            if (data.GIATHUADATID === id.trim()) {
                                $("#table_GIADATTHUA").children().children().eq(i).children().eq(2)[0].innerHTML = data.CANCUPHAPLY;
                                $("#table_GIADATTHUA").children().children().eq(i).children().eq(3)[0].innerHTML = ConverDatatime(printDate(data.THOIDIEMXACDINH));//data.THOIDIEMXACDINH;
                                $("#table_GIADATTHUA").children().children().eq(i).children().eq(4)[0].innerHTML = data.GIADAT;
                                //  var $row = $(row)
                                //alert(data.lasdchung);
                                //$('#table_MDSDTHUA').find("input[type=checkbox]").prop('checked', data.lasdchung);

                                // $("#table_MDSDTHUA").children().children().eq(i).children().eq(4)[0].innerHTML(data.thoihan);
                            }

                        });
                        alert("Sửa giá đất thành công!");

                    }
                }
            });
            // }
            //else {
            //    alert('Có lỗi xảy ra');
            //}
        });
        $("#btnxoatranggiadat").on("click", function () {

            $('#CurGiaDat_GIATHUADATID').val('');
          //  $('#CurGiaDat_THUADATID').val(data.objgiadat.THUADATID);
            //$('#drploaigiadat').val(data.objgiadat.LOAIGIADATID);
            $('#CurGiaDat_CANCUPHAPLY').val('');
            $('#CurGiaDat_THOIDIEMXACDINH').val('');
            $('#CurGiaDat_GIADAT').val('');
            $('#CurGiaDat_TENFILE').val('');
        });
    });
</script>