@model MPLIS.Libraries.Data.XuLyHoSo.Models.ToChucLS
<form id="formTTToChucID">
    @Html.Hidden("TOCHUCID", Model.TOCHUCID)
    @Html.Hidden("TRANGTHAI", Model.TRANGTHAI)
    @Html.Hidden("NGUOIDAIDIENID", Model.NGUOIDAIDIENID)
    <div id="divNguoiDaiDienID" class="box box-primary m-10">
        <div class="box-header with-border">
            <div class="row p-0">
                <div class="col-xs-4 p-0">
                    <div class="pull-left">
                        @if (Model.NGUOIDAIDIENID == null)
                        {
                            <button id="Btn_ChiTiet_NguoiDaiDienID" type="button" class="btn btn-sm btn-default"><i class='fa fa-plus'></i> Thêm mới</button>
                            <button id="Btn_Xoa_NguoiDaiDienID" type="button" class="btn btn-sm btn-default" disabled><i class='fa fa-trash'></i> Xóa</button>
                        }
                        else
                        {
                            <button id="Btn_ChiTiet_NguoiDaiDienID" type="button" class="btn btn-sm btn-default"><i class='fa fa-eye'></i> Chi tiết</button>
                            <button id="Btn_Xoa_NguoiDaiDienID" type="button" class="btn btn-sm btn-default"><i class='fa fa-trash'></i> Xóa</button>
                        }
                    </div>
                </div>
                <div class="col-xs-4 text-center p-0">
                    <h3 class="box-title">Người đại diện</h3>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.CMTNGUOIDAIDIEN, "CMT / Hộ chiếu", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @if (Model.TRANGTHAI == 2)
                    {
                        @Html.TextBoxFor(model => model.CMTNGUOIDAIDIEN, new { @class = "form-control input-sm", @disabled = "" })
                    }
                    else if (Model.TRANGTHAI == 1)
                    {
                        @Html.TextBoxFor(model => model.CMTNGUOIDAIDIEN, new { @class = "form-control input-sm" })
                    }
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.NguoiDaiDien.HOTEN, "Họ tên", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.NguoiDaiDien.HOTEN, new { @class = "form-control input-sm", @disabled = "" })
                </div>
            </div>
        </div>
    </div>
    <div id="divTCCTNguoiDaiDienID" class="m-10">
    </div>
    <div class="box box-primary m-10">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.MASOTHUE, "Mã số thuế", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.MASOTHUE, new { @class = "form-control input-sm" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.MADOANHNGHIEP, "Mã doanh nghiệp", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.MADOANHNGHIEP, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.TENTOCHUC, "Tên tổ chức", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-10">
                    @Html.TextBoxFor(model => model.TENTOCHUC, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.TENTOCHUCTA, "Tên tiếng anh", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.TENTOCHUCTA, new { @class = "form-control input-sm" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.TENVIETTAT, "Tên viết tắt", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.TENVIETTAT, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.SOQUYETDINH, "Số quyết định", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.SOQUYETDINH, new { @class = "form-control input-sm" })
                </div>
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.NGAYQUYETDINH, "Ngày quyết định", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.NGAYQUYETDINH, "{0:yyyy-MM-dd}", new { @class = "form-control input-sm", type = "date" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.DIACHI, "Địa chỉ tổ chức", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-10">
                    @Html.TextAreaFor(model => model.DIACHI, new { @class = "form-control", @rows = "3" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    @Html.LabelFor(model => model.LOAITOCHUC, "Loại tổ chức", new { @class = "pull-right control-label" })
                </div>
                <div class="col-xs-4">
                    @Html.DropDownListFor(model => model.LOAITOCHUC, new SelectList(ViewBag.dSDoiTuongSuDung, "DOITUONGSUDUNGID", "TENDOITUONGSUDUNG"), "---- Lựa chọn ----", new { @class = "input-sm form-control" })
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        var divProcessBar = "<div class='overlay'> <i class='fa fa-refresh fa-spin'></i> </div>";

        $('#Btn_ChiTiet_NguoiDaiDienID').on('click', function () {

            $('#divNguoiDaiDienID').append(divProcessBar);

            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/NhomNguoi_ToChuc_NguoiDaiDien",
                dataType: "html",
                success: function (html) {
                    $('#divNguoiDaiDienID').addClass('d-none');
                    $('#divTCCTNguoiDaiDienID').html(html);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Lỗi: ' + errorThrown);
                },
                complete: function () {
                    $('.overlay', $('#divNguoiDaiDienID')).remove();
                }
            })

        })

        $('#Btn_Xoa_NguoiDaiDienID').on('click', function () {
            if (confirm("Xác nhận xóa Người Đại Diện?")) {
                $('#divNguoiDaiDienID').append(divProcessBar);
                $.ajax({
                    type: "POST",
                    url: '/XLHSDangKy/NhomNguoi_ToChuc_XoaNguoiDaiDien',
                    dataType: "html",
                    success: function (html) {
                        $('#formTTToChucID [name=LOAITOCHUC]').prop('disabled', false);
                        var objToChuc = FormToObject($('#formTTToChucID'));
                        $('#formTTToChucID [name=LOAITOCHUC]').prop('disabled', true);
                        console.log(objToChuc);
                        $('#divChiTietChu_ToChucID')
                            .html(html)
                            .ready(function () {
                                $('#formTTToChucID [name=MASOTHUE]').val(objToChuc['MASOTHUE']);
                                $('#formTTToChucID [name=MADOANHNGHIEP]').val(objToChuc['MADOANHNGHIEP']);
                                $('#formTTToChucID [name=TENTOCHUC]').val(objToChuc['TENTOCHUC']);
                                $('#formTTToChucID [name=TENTOCHUCTA]').val(objToChuc['TENTOCHUCTA']);
                                $('#formTTToChucID [name=TENVIETTAT]').val(objToChuc['TENVIETTAT']);
                                $('#formTTToChucID [name=SOQUYETDINH]').val(objToChuc['SOQUYETDINH']);
                                $('#formTTToChucID [name=NGAYQUYETDINH]').val(objToChuc['NGAYQUYETDINH']);
                                $('#formTTToChucID [name=DIACHI]').val(objToChuc['DIACHI']);
                                $('#formTTToChucID [name=LOAITOCHUC]').val(objToChuc['LOAITOCHUC']);
                            });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Lỗi: ' + errorThrown);
                    },
                    complete: function () {
                        $('.overlay', $('#divNguoiDaiDienID')).remove();
                    }
                })
            }
        })

    })

</script>

