@model MPLIS.Libraries.Data.XuLyHoSo.Models.DangKyNguoiVM

@{
    string title = "Thông tin chi tiết chủ";
    switch (Model.Chu.LOAIDOITUONGID)
    {
        case "1":
            title += " Cá Nhân";
            break;
        case "2":
            title += " Hộ Gia Đình";
            break;
        case "3":
            title += " Vợ Chồng";
            break;
        case "4":
            title += " Tổ Chức";
            break;
        case "5":
            title += " Cộng Đồng";
            break;
        case "6":
            title += " Nhóm Người";
            break;
    }
}

<div id="divDSChu_ChiTietChuID" class="box box-primary m-0">
    <form id="formNguoiID" class="d-none">
        @Html.Hidden("NGUOIID", Model.Chu.NGUOIID)
        @Html.Hidden("CHITIETID", Model.Chu.CHITIETID)
        @Html.Hidden("DOITUONGSUDUNGID", Model.Chu.DOITUONGSUDUNGID)
        @Html.Hidden("TRANGTHAI", Model.Chu.TRANGTHAI)
        @Html.Hidden("LOAIDOITUONGID", Model.Chu.LOAIDOITUONGID)
    </form>
    <div class="box-header with-border">
        <div class="row p-0">
            <div class="col-xs-4 p-0">
                <div class="pull-left">
                    <button id="BtnSave_FormChiTietChuID" type="button" class="btn btn-sm btn-default"><i class='fa fa-check'></i> Lưu thông tin</button>
                    <button id="BtnClear_FormChiTietChuID" type="button" class="btn btn-sm btn-default"><i class='fa fa-trash'></i> Xóa trắng</button>
                </div>
            </div>
            <div class="col-xs-4 text-center p-0">
                <h3 class="box-title">@Html.Raw(title)</h3>
            </div>
            <div class="col-xs-4 p-0">
                <div class="row p-0">
                    <div class="col-xs-3 p-0">
                    </div>
                    <div class="col-xs-6 p-0">
                        <div class="pull-right">
                            @Html.DropDownListFor(model => model.Chu.DOITUONGSUDUNGID, new SelectList(Model.DSDoiTuongSuDung, "DOITUONGSUDUNGID", "TENDOITUONGSUDUNG"), "---- Chọn đối tượng sử dụng ----", new { @class = "input-sm form-control" })
                        </div>
                    </div>
                    <div class="col-xs-3 p-0">
                        <div class="pull-right">
                            <button id="btnClose_divDSChu_ChiTietChuID" type="button" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body p-0">
        @{

        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnClose_divDSChu_ChiTietChuID').on('click', function () {
                $('#tableDangKyChuID_wrapper').removeClass("d-none");
                $('#divDSChu_ChiTietChuID').remove();
            })
        })
    </script>
</div>
